@tailwind base;
@tailwind components;
@tailwind utilities;

/* Default Light Mode */
:root {
  --background: #ffffff;
  --foreground: #171717;
  --default-blue: #1a4f9d;
  --hover-blue: #3f82e0;
  /* --hover-blue: #3f82e0;
  --default-blue: #1a4f9d; */
}

.dark {
  --hover-dark: #2b3a4a;
  --text-light: #f1f5f9;
  --default-light: #94a3b8;
}

/* Apply theme colors */
body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease; /* Smooth theme transition */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}




/* @tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --default-blue: #1a4f9d;
  --hover-blue: #3f82e0;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
